<%- include('partials/header') %>


  <div class="container mt-5 text-center animated fadeIn">
    <p class="lead">Register or Log in to begin</p>
    <hr class="">
    <div class="home-buttons">
      <a class="btn btn-outline-dark btn-lg" href="/register" role="button">Register</a>
      <a class="btn btn-outline-dark btn-lg" href="/login" role="button">Login</a>
    </div>
    <br>
    <button class="btn-outline-success" onclick="window.location='http://23.235.255.10:53293/'" type="button">Live Map</button>
  </div>

<%- include('partials/footer') %>